{{if eq AppUrl "https://git.door43.org/"}}
<!-- GA4 --> 
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZPK61E3EQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TZPK61E3EQ');
</script>
{{end}}